### Variables

In [14]:
# Format function

print(" My Name is {}," \
      " My Age is {},"
      " and I Work As {}"
      .format("Mohamed",25,"Data Scientist"))

 My Name is Mohamed, My Age is 25, and I Work As Data Scientist

In [18]:
name = "Mohamed Abdeen"
job  = "Data Scientist"
age  = 25

output = print(" My name is {name}," \
               " My age is  {age}," \
               " And I work as Data Scientist {job}")

 My name is {name}, My age is  {age}, And I work as Data Scientist {job}

### Data Types

In [52]:
school = "military hikstep"
print(school[9:11])
print(school[0:8:1])
print(school[9:17:1])
print(school[0:17:2])
print(school[0:17:3])
print(school[0:17:4])

'''I want to extract the hi ,military, hikstep 
   the last index for the step 
   if it is 1 no skip 
   if it is 2 it will write one letter and skip one
   if it is 3 it will write one letter and skip two'''

hi
military
hikstep
mltr ise
mirhsp
mt s

'I want to extract the hi ,military, hikstep \n   the last index for the step \n   if it is 1 no skip \n   if it is 2 it will write one letter and skip one\n   if it is 3 it will write one letter and skip two'

#### Functions to string

In [74]:
name = "mostafa abdeeN mostafa"
print(name.replace("mostafa","mohamed"))
print(name.capitalize())
print(name.title()) # and there is upper an lower 
print("# occurrences",name.count("mostafa"))
print(name.split())
print(name.swapcase()) #notice the n in abdeen

mohamed abdeeN mohamed
Mostafa abdeen mostafa
Mostafa Abdeen Mostafa
# occurrences 2
['mostafa', 'abdeeN', 'mostafa']
MOSTAFA ABDEEn MOSTAFA

In [82]:
# join to reapet a string in a sequance
words = ["this","is","me"]
sentance = ' '.join(words)
print (sentance)

this is me

In [86]:
# startwith check if a string starts with a character
title = "sr.mohamed"
print(title.startswith("sr"))

True

In [87]:
# quiz
my_string = "0123456789"
print(my_string[-2:-6:-2])

86

In [3]:
# Encoded Message

message = "###!!@mocleW EPGTQ!!!6789"

core = message[6:18]
first_word = core[0:7:-1]
second_word = core[-1:-5]

print(core,first_word,second_word)

mocleW EPGTQ