 ## ðŸ“˜Python Assignment â€“ File Operations & Functions
-   Machine Learning Diploma â€“ Python Module
-   Instructor: Eng. George Samuel
-   Week: File Handling & Automation Practice
-  Assignment Type: Coding + Logical Thinking

You Name : Mohamed Abdeen Mostafa Hedar

1. Add an item to a tuple

In [7]:
my_tuple = (1, 2, 3)
item_to_add = 4

# TODO: convert tuple to list, add the item, then convert back to tuple
# your code here

new_list =list(my_tuple)
new_list.append(4)

new_tuple=tuple(new_list)
print(new_tuple,type(new_tuple))

(1, 2, 3, 4) <class 'tuple'>

{Hint}: Tuples cannot change. Convert to list â†’ modify â†’ tuple.

2. Sum all the items in a list

In [31]:
numbers = [5, 10, 15, 20]

# TODO: loop through the list and calculate the total
total = 0
# your code here
for x in numbers:
    total += x # calculate the first x and then the next and then the next until he reaches the last one 
    print("add",x,"--> total",total)
print("\nThe Total Of Numbers Is:",total)

# Hint: Use a for loop and accumulate values into total.

add 5 --> total 5
add 10 --> total 15
add 15 --> total 30
add 20 --> total 50

The Total Of Numbers Is: 50

3. Multiply all items in a list

In [52]:
numbers = [2, 3, 4]

# TODO: multiply all numbers in the list
result = 1
# your code here
for x in numbers:
    result *= x
print(x,"*",x+1,"*",x+2,"=",result)
# Hint: Start from 1 and multiply one element at a time.

4 * 5 * 6 = 24

4. Get the smallest number from a list

In [10]:
numbers = [10, 3, 25, 1, 7]

# TODO: find smallest value manually (without min())
smallest = numbers[0]
# your code here
for x in numbers:
    if smallest < x:
        smallest = smallest
    else:
        smallest = x
print("the smallest number is :",smallest)
# Hint: Replace smallest when you find a smaller value.

the smallest number is : 1

5. Get the largest number from a list

In [ ]:
numbers = [10, 3, 25, 1, 7]

# TODO: find largest value manually (without max())
largest = numbers[0]
# your code here
for x in numbers:
    if largest > x:
        largest = largest
    else:
        largest = x
print(largest)
# Hint: Same idea as smallest â€” just check for bigger values.

25

6. Count number of strings with length â‰¥ 2

In [ ]:
words = ["hi", "a", "hello", "no", "on"]

# TODO: count strings with length >= 2
count = 0
# your code here
for x in words:
    if len(x) >= 2:
        print(x)
    else:
        print("no")
print(count)
# Hint: Use len(word) and a condition.

TypeError: object of type 'bool' has no len()

In [35]:
words = ["hi", "a", "hello", "no", "on"]
print(len(words))
print(len(words[2]))

5
5

7. Clone or copy a list

In [41]:
original = [1, 2, 3, 4]

# TODO: copy the list (not assignment)
# your code here
cloned = original[::]
cloned.append(100)
original.append(200)
print(cloned,original)
# Hint: Remember: cloned = original is NOT a copy.
# Think of slicing or list().

[1, 2, 3, 4, 100] [1, 2, 3, 4, 200]

8. Remove item(s) from a set

In [46]:
my_set = {1, 2, 3, 4, 5}

# TODO: remove an item using remove() or discard()
# your code here
my_set.remove(4)    # raise a keyerror 
my_set.discard(5)
my_set.discard(100) # dose not raise a keyerror even when the 100 is not a member
print(my_set)
# Hint: Use remove() or discard().

{1, 2, 3}

9. Check if a set is subset of another

In [ ]:
set1 = {1, 2}
set2 = {1, 2, 3, 4}

# TODO: check subset manually or using issubset()
# your code here
set1.issubset(set2)

# Hint: Use .issubset() or compare elements manually.

True

10. Remove all elements from a set

In [ ]:
my_set = {1, 2, 3}

# TODO: clear the set
# your code here
my_set.clear()

listy = [4,5,6]
for x in listy:
    my_set.add(x)
print(my_set)

# Hint: Sets have a method that makes them empty.

{4, 5, 6}

11. Find max and min values in a set

In [78]:
my_set = {10, 3, 25, 1, 7}

# TODO: find max and min manually
# your code here

for x in my_set:
    if x > x+1:
        maximum = x
    # elif x<x+1:
        #minimum = x
     
# minimum = min(my_set)
# maximum = max(my_set)
print("Max:", maximum)
print("Min:", minimum)
# Hint: Convert to a list or loop through items.

Max: 10
Min: 10

12. Find the index of an item in a tuple

In [80]:
my_tuple = (10, 20, 30, 40)

# TODO: find index of a value (e.g. 30)
# your code here
index_value = my_tuple.index(30)
print(index_value)
# Hint: Tuples have a method for this.

2

13. Convert a tuple to a dictionary

In [81]:
my_tuple = (("a", 1), ("b", 2), ("c", 3))

# TODO: convert to dictionary
# your code here
my_dict = dict(my_tuple)
print(my_dict)
# Hint: A dictionary can be built directly from pairs.

{'a': 1, 'b': 2, 'c': 3}

14. Unzip a list of tuples into individual lists

In [ ]:
pairs = [(1, 2), (3, 4), (5, 6)]

# TODO: extract first elements into one list and second elements into another
# your code here
list1 = pairs.index[]
#list2 =
print(list1)
#print(list2)
# Hint: You can loop OR use zip(*pairs).

TypeError: 'builtin_function_or_method' object is not subscriptable

15. Reverse a tuple

In [ ]:
my_tuple = (1, 2, 3, 4, 5)

# TODO: reverse the tuple
# your code here

print(reversed_tuple)
# Hint: Use slicing.

16. Convert a list of tuples into a dictionary

In [ ]:
pairs = [("a", 1), ("b", 2), ("c", 3)]

# TODO: convert list of tuples into dictionary
# your code here

print(my_dict)
# Hint: dict() can convert list-of-pairs formats.

17. Replace the last value of each tuple in a list

- Sample list:
- [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- Expected output:
- [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [ ]:
data = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

# TODO: replace last value with 100
new_list = []
# your code here

print(new_list)
# Hint: Convert each tuple to list, edit, convert back.

18. Sort a tuple by its float element

In [ ]:
items = (("item1", 10.5), ("item2", 5.7), ("item3", 8.9))

# TODO: sort by the float value
# your code here

print(sorted_items)
# Hint: Use sorted() with a key function.

## challenge part

Find the longest word in a list

In [ ]:
words = ["hi", "hello", "fantastic", "world"]

# TODO: find the longest word

print(longest)
# Hint: Track the word with the largest len().

Merge two dictionaries

In [ ]:
d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}

# TODO: merge into one dictionary

print(result)
# Hint: Use unpacking or update().

Sum values in a dictionary

In [ ]:
data = {"a": 10, "b": 20, "c": 30}

# TODO: sum all dictionary values

print(total)

solution

In [ ]:
data = {"a": 10, "b": 20, "c": 30}
#for dictionary i have a key and value so you can loop and find what you need (key or values
total = 0
for value in data.values():
    total += value

print(total)

New Challenge

In [ ]:
# TODO: sum all scores
scores = {
    "student1": {"math": 80, "science": 90},
    "student2": {"math": 75, "science": 85},
    "student3": {"math": 92, "science": 88},
}

total = ___      # TODO: start total at 0

for student_data in scores.___():# TODO: loop over values of the dictionary
    for score in student_data.___(): # TODO: loop over inner dictionary values
        total ___ score              # TODO: update the total

print(___)       # TODO: print the result

#hint you will need nested for loop one