In [1]:
list_1 = [1,2,3,"depi","learning",True,[1,2,3,True,['ds','ml','genai']]]

In [2]:
list_1

[1, 2, 3, 'depi', 'learning', True, [1, 2, 3, True, ['ds', 'ml', 'genai']]]

In [3]:
list_1[6][4][2]

'genai'

In [ ]:
list_one =["depi","learning","learning","ml"]
list_one.append("dl")

In [7]:
list_one.insert(0,"genAi")

In [8]:
list_one

['genAi', 'depi', 'learning', 'ml', 'dl']

In [10]:
list_1 = [1,2,3]
list_2 = [4,5,6]
x = list_1 + list_2
x

[1, 2, 3, 4, 5, 6]

In [5]:
list_one =["depi","learning","learning","ml"]
list_one.remove("learning")
print(list_one)

['depi', 'learning', 'ml']

In [12]:
list_one =["depi","learning","learning","ml"]
list_one.pop(2)

'learning'

In [13]:
list_one

['depi', 'learning', 'ml']

In [17]:
name = input("Enter your name: ")
id = input("Enter your id: ")
print("Hello, " + name + "!","Your ID is " + id + ".")

Hello, mohamed! Your ID is 2020.

In [21]:
# Quiz: Remove an Item from a List
input_list = ["amit","learning","ml","ds","genai"]
item = input("Enter the item to remove ")
input_list.remove(item)
input_list

['learning', 'ml', 'ds', 'genai']

In [ ]:
# inorder to edit a tuple, we need to convert it into a list first
s = (20,10,4,2,52,10,4,2,52)
lst = list(s)
lst.append(100)
s = tuple(lst)

print(s)

(20, 10, 4, 2, 52, 10, 4, 2, 52, 100, 100, 100, 100)

In [10]:
item = input("Enter the item to add to the tuple: ")
tuple_1 = (10,20,30,40,50)
list_1 = list(tuple_1)
list_1.append(item)
tuple_1 = tuple(list_1)
print(tuple_1)

(10, 20, 30, 40, 50, '10')

In [51]:
list(tuple_1)

[20, 10, 4, 2, 52, 10, 4, 2, 52]

In [43]:
set_1 = {10,20,30,40,50,10,20,30}
set_2 = {40,50,60,70,80}
set_1.intersection(set_2)

{40, 50}

In [12]:
dict_1 = {"key_1":12.5,"key_2":"depi","key_3":[1,2,3,4,5],"key_4":(10,20,30)}
dict_1

{'key_1': 12.5,
 'key_2': 'depi',
 'key_3': [1, 2, 3, 4, 5],
 'key_4': (10, 20, 30)}

In [14]:
# Quiz 2 : Create a simple calculator
num_1 = float(input("Enter num_1 "))
operation = input("Enter operation (+, -, *, /): ")
num_2 = float(input("Enter num_2 "))
if operation == "+":
    result = num_1 + num_2
elif operation == "-":
    result = num_1 - num_2
elif operation == "*":
    result = num_1 * num_2
elif operation == "/":
    result = num_1 / num_2
else:
    result = "you entered an incorrect operation"
print("The result is: ", result)

The result is:  25.0

In [16]:
x = 20
y = 5

result = (x + True) / (4-y *False)
print(result)

5.25

In [17]:
a = 200
b = 33

if b > a :
    print("b is greater than a ")
elif a==b :
    print("a equal b")
else:
    print("b is less than a")

b is less than a

In [22]:
x = float(input("enter the num"))
result = "even" if x % 2 == 0 else "odd"
print(result)

odd

In [ ]:
# Quiz 3 grading system 
degree = float(input("enter the degree"))
if 0 < degree < 100 :
    if  90 <= degree <= 100 :
        print("A")
    elif 80 <= degree < 90 :
        print("B")
    elif 70 <= degree < 80 :
        print("C")
    elif 60 <= degree < 70 :
        print("D")
    elif 50 <= degree < 60 :
        print("E")
    elif       degree < 50 :
        print("F")
else:
    print("error, the value must be between 0 to 100")

error, the value must be between 0 to 100